*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif;
}

header {
  background-image: url(../images/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom;
  height: 500px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container h1 {
  margin-top: 1em;
  margin-bottom: 1.2em;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fraunces', serif;
  color: white;
}

nav {
  padding: 1.8em 1.5em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .burger-btn {
  display: block;
  cursor: pointer;
}

nav .nav-mobile {
  width: 85%;
  height: 350%;
  margin-left: 1.5em;
  position: absolute;
  top: -500px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  background-color: white;
  -webkit-transition: top 0.8s;
  transition: top 0.8s;
}

nav .nav-mobile::before {
  content: '';
  position: absolute;
  top: -25px;
  right: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid white;
  border-right: 20px solid white;
}

nav .nav-mobile__link {
  text-decoration: none;
  color: #818498;
}

nav .nav-mobile__link:hover {
  color: #19536b;
}

nav .nav-mobile__link:last-child {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 1em 2em;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: #fad400;
  color: #19536b;
  font-family: 'Fraunces', serif;
  font-size: 1.6rem;
}

nav .nav-mobile__link:last-child:hover {
  background-color: rgba(250, 212, 0, 0.3);
}

nav .handle-nav {
  top: 110px;
}

nav .nav-desktop {
  display: none;
}

nav .nav-desktop__link {
  padding-inline: 1em;
  text-decoration: none;
  color: white;
}

nav .nav-desktop__link:hover {
  color: #19536b;
}

nav .nav-desktop__link:last-child {
  padding: 1em 2em;
  border-radius: 50px;
  background-color: white;
  color: #19536b;
  font-family: 'Fraunces', serif;
  font-size: 1.6rem;
}

nav .nav-desktop__link:last-child:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.grid-container .grid__element {
  padding: 4em 2em;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fffcfa;
}

.grid-container .grid__element-heading {
  font-family: 'Fraunces', serif;
  font-size: 3rem;
  font-weight: 900;
  color: #23303e;
}

.grid-container .grid__element-text {
  padding-block: 1.2em;
  max-width: 32ch;
  line-height: 1.5;
  color: #818498;
  margin-inline: auto;
}

.grid-container .grid__element-link {
  position: relative;
  font-family: 'Fraunces', serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #23303e;
  z-index: 1;
}

.grid-container .grid__element-link:first-of-type:hover::before {
  content: '';
  width: 110%;
  height: 10px;
  position: absolute;
  bottom: -2px;
  left: -5%;
  border-radius: 50px;
  opacity: 35%;
  z-index: 0;
  background-color: #fad400;
}

.grid-container .grid__element-link:last-of-type:hover::before {
  content: '';
  width: 110%;
  height: 10px;
  position: absolute;
  bottom: -2px;
  left: -5%;
  border-radius: 50px;
  opacity: 35%;
  z-index: 0;
  background-color: #fe7867;
}

.grid-container .egg {
  height: 350px;
  background-image: url(../images/mobile/image-transform.jpg);
}

.grid-container .glass {
  height: 350px;
  background-image: url(../images/mobile/image-stand-out.jpg);
}

.grid-container .graphic {
  height: 550px;
  padding: 1em 2em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-image: url(../images/mobile/image-graphic-design.jpg);
}

.grid-container .graphic .grid__element-heading,
.grid-container .graphic .grid__element-text {
  color: #25564b;
}

.grid-container .photography {
  height: 550px;
  padding: 1em 2em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-image: url(../images/mobile/image-photography.jpg);
}

.grid-container .photography .grid__element-heading,
.grid-container .photography .grid__element-text {
  color: #19536b;
}

.testimonials {
  padding-block: 2em;
  background-color: #fffcfa;
}

.testimonials h2 {
  padding-block: 2em;
  text-align: center;
  text-transform: uppercase;
  color: #a7abae;
  font-family: 'Fraunces', serif;
  font-size: 1.8rem;
  letter-spacing: 5px;
}

.testimonials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials .testimony {
  padding: 2em;
  text-align: center;
}

.testimonials .testimony__img {
  height: 85px;
  border-radius: 50%;
}

.testimonials .testimony__text {
  margin-block: 1.6em;
  max-width: 32ch;
  line-height: 1.5;
  color: #5a636c;
}

.testimonials .testimony__name {
  margin-block: 0.5em;
  font-family: 'Fraunces', serif;
}

.testimonials .testimony__job {
  font-size: 1.5rem;
  color: #a7abae;
}

.graphics__wrapper {
  width: 100%;
  height: clamp(300px, 70vw, 550px);
}

.graphics__wrapper--one, .graphics__wrapper--two {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.graphics__img {
  height: 100%;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.graphics .milk {
  background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
}

.graphics .orange {
  background-image: url(../images/mobile/image-gallery-orange.jpg);
}

.graphics .ice {
  background-image: url(../images/mobile/image-gallery-cone.jpg);
}

.graphics .sugar {
  background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
}

footer {
  background-color: #92c9be;
  color: #25564b;
  text-align: center;
}

footer .footer__logo {
  padding: 2.5em;
}

footer .footer__menu-link {
  margin-inline: 1em;
  text-decoration: none;
  color: #458c7e;
}

footer .footer__menu-link:hover {
  color: white;
}

footer .footer__socials {
  padding-block: 4.5em;
}

footer .footer__socials-link {
  font-size: 2.3rem;
  margin-inline: 0.5em;
  color: #458c7e;
}

footer .footer__socials-link:hover {
  color: white;
}

.attribution {
  padding-bottom: 1.5em;
  font-size: 1.3rem;
}

.attribution__link {
  text-decoration: none;
  color: #458c7e;
}

.attribution__link:hover {
  color: white;
}

@media (min-width: 768px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
  header {
    height: 700px;
    background-image: url(../images/desktop/image-header.jpg);
  }
  nav .burger-btn {
    display: none;
  }
  nav .nav-mobile {
    display: none;
  }
  nav .nav-desktop {
    display: block;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .grid-container .grid__element {
    padding: 4em 6em;
    min-height: 575px;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .grid-container .grid__element-text {
    padding-block: 1.5em;
    max-width: 45ch;
  }
  .grid-container .transform {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .grid-container .egg {
    height: auto;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background-image: url(../images/desktop/image-transform.jpg);
  }
  .grid-container .glass {
    height: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background-image: url(../images/desktop/image-stand-out.jpg);
  }
  .grid-container .stand-out {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .grid-container .graphic {
    padding: 0;
    height: auto;
    background-position: top;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }
  .grid-container .graphic .grid__element-text {
    max-width: 40ch;
  }
  .grid-container .photography {
    padding: 0;
    height: auto;
    background-position: top;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    background-image: url(../images/desktop/image-photography.jpg);
  }
  .grid-container .photography .grid__element-text {
    max-width: 40ch;
  }
}

@media (min-width: 992px) {
  .graphics__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 400px;
  }
  .graphics__wrapper--one, .graphics__wrapper--two {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .testimonials {
    padding-block: 4em;
  }
  .testimonials .testimony__text {
    margin-block: 2em;
    max-width: 35ch;
  }
}
/*# sourceMappingURL=main.css.map */