// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;

@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	font-family: 'Barlow', sans-serif;
}

// header //

header {
	background-image: url(../images/mobile/image-header.jpg);
	background-size: cover;
	background-position: bottom;
	height: 500px;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			margin-top: 1em;
			margin-bottom: 1.2em;
			letter-spacing: 8px;
			font-family: 'Fraunces', serif;
			text-transform: uppercase;
			text-align: center;
			color: $white;
		}
	}
}

// nav //

nav {
	padding: 1.8em 1.5em;
	display: flex;
	justify-content: space-between;
	position: relative;

	.burger-btn {
		display: block;
	}

	.nav-mobile {
		width: 85%;
		height: 350%;
		margin-left: 1.5em;
		position: absolute;
		top: -500px;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		background-color: $white;
		// display: none;
		font-size: 2rem;

		&::before {
			content: '';
			position: absolute;
			top: -25px;
			right: 0;
			border-top: 20px solid transparent;
			border-left: 20px solid transparent;
			border-bottom: 20px solid $white;
			border-right: 20px solid $white;
		}

		&__link {
			text-decoration: none;
			color: $dark-grayish-blue;

			&:last-child {
				box-sizing: content-box;
				text-transform: uppercase;
				font-family: 'Fraunces', serif;
				color: $dark-blue;
				background-color: $yellow;
				border-radius: 50px;
				padding: 1em 2em;
				font-size: 1.6rem;
			}
		}
	}

	.nav-desktop {
		display: none;
		&__link {
			text-decoration: none;
			color: $white;
			padding-inline: 1em;

			&:last-child {
				font-family: 'Fraunces', serif;
				color: $dark-blue;
				background-color: $white;
				border-radius: 50px;
				padding: 1em 2em;
				font-size: 1.6rem;

				&:hover {
					color: $white;
					background-color: rgba(255, 255, 255, 0.3);
				}
			}
		}
	}
}

// main //

.grid-container {
	.grid__element {
		background-size: cover;
		background-position: center;
		padding: 4em 2em;
		background-color: $light-gray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		&-heading {
			font-family: 'Fraunces', serif;
			font-size: 3rem;
			font-weight: 900;
			color: $very-dark-desaturated-blue;
		}

		&-text {
			padding-block: 1.2em;
			color: $dark-grayish-blue;
			line-height: 1.5;
			max-width: 34ch;
		}

		&-link {
			position: relative;
			font-family: 'Fraunces', serif;
			text-decoration: none;
			text-transform: uppercase;
			color: $very-dark-desaturated-blue;
			z-index: 1;

			&:first-of-type::before {
				content: '';
				position: absolute;
				bottom: -2px;
				left: -5%;
				width: 110%;
				height: 10px;
				border-radius: 50px;
				background-color: $yellow;
				opacity: 35%;
				z-index: 0;
			}
			&:last-of-type::before {
				content: '';
				position: absolute;
				bottom: -2px;
				left: -5%;
				width: 110%;
				height: 10px;
				border-radius: 50px;
				background-color: $soft-red;
				opacity: 35%;
				z-index: 0;
			}
		}
	}

	.egg {
		background-image: url(../images/mobile/image-transform.jpg);
		height: 350px;
	}

	.glass {
		background-image: url(../images/mobile/image-stand-out.jpg);
		height: 350px;
	}

	.graphic {
		background-image: url(../images/mobile/image-graphic-design.jpg);
		height: 550px;
		justify-content: end;
		padding: 1em 2em;
	}

	.photography {
		background-image: url(../images/mobile/image-photography.jpg);
		height: 550px;
		justify-content: end;
		padding: 1em 2em;
	}
}

// media //

@media (min-width: 768px) {
	body {
		max-width: 1440px;
		margin: auto;
	}

	header {
		height: 700px;
		background-image: url(../images/desktop/image-header.jpg);
	}
	nav {
		.burger-btn {
			display: none;
		}

		.nav-mobile {
			display: none;
		}
		.nav-desktop {
			display: block;
		}
	}

	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;

		.grid__element {
			padding: 4em 6em;
			text-align: left;
			align-items: start;
		}

		.transform {
			grid-column: 1/2;
			grid-row: 1/2;
		}

		.egg {
			background-image: url(../images/desktop/image-transform.jpg);
			grid-column: 2/3;
			grid-row: 1/2;
			height: auto;
		}

		.glass {
			background-image: url(../images/desktop/image-stand-out.jpg);
			grid-column: 1/2;
			grid-row: 2/3;
			height: auto;
		}

		.stand-out {
			grid-column: 2/3;
			grid-row: 2/3;
		}

		.graphic {
			background-image: url(../images/desktop/image-graphic-design.jpg);
			background-position: top;
			grid-column: 1/2;
			grid-row: 3/4;
			text-align: center;
			align-items: center;
			padding: 0;
		}

		.photography {
			background-image: url(../images/desktop/image-photography.jpg);
			background-position: top;
			grid-column: 2/3;
			grid-row: 3/4;
			text-align: center;
			align-items: center;
			padding: 0;
		}
	}
}
